* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #1363DF;
    padding: 15px 0;
    color: white;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Three-column layout */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 1.5em;
    color: white;
    font-weight: 400;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    /* margin: 0 20px; */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a.active {     
    border-bottom: 3px solid #FFF;
}

nav ul li a:hover {        
    border-bottom: 3px solid #FFF;
}

.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
}

.breadcrumbs{
    width: 25%;
}

.breadcrumb li {
    margin-right:5px;
    color:#1B252C;
}

.breadcrumb li a {
    text-decoration: none;
    color:#1B252C;
}

.breadcrumb li:not(:last-child)::after {
    content: "/";
    margin-left:5px;
    color:#1B252C;
}

.cart-icon {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.cart-img {
    width: 20px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #06283D;
    color: white;
    border-radius: 50%;
    padding: 3px 3px;
    font-size: 10px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
    border-radius: 5px;
}

.banner {
    display: flex;
    align-items: center;    
    position: relative;
    overflow: hidden;
}

.content {
    flex: 1;
    padding: 20px;
    z-index: 2; 
    max-width: 25%;
    background-color: #1B252C;
}

.content h1 {
    font-size: 2.5em;    
    text-align: center;
    color: #FFF;
    padding: 62px 0px;
}

.content p {
    font-size: 1.2em;
}

.image-container {
    flex: 3; 
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.container {
    display: flex;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    flex-wrap: wrap;
}
.search-result{
    width: 37%;
    justify-content: flex-start;
    display: flex;
}
.search-result .search{
    width: 100%;
}

.search-result .search input{
    width: 100%;
    padding: 5px;
}

.product-sort{
    width: 37%;
}

.filters {
    width: 25%;
    padding-right: 60px;
}

.filters h4 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1B252C;
}

.filters label {
    display: block;
    margin-bottom: 10px;
    color: #1B252C;
}

.product-section {
    width: 75%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-card h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product-card p {
    color: #333;
    margin-bottom: 10px;
}

.product-card span {
    font-weight: bold;
}

.sort {
    text-align: right;
    margin-bottom: 20px;
}

.sort select {
    padding: 5px;
    font-size: 14px;
    color: #a1a1a1;
}

.sort label{
    margin-right: 10px;
    color: #1B252C;
}

footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    border-top: 1px solid #e0e0e0;
  }
  
  /* Container for the footer sections */
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Footer columns */
  .footer-column {
    flex: 1;
    margin: 0 20px;
  }
  
  .footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .footer-column ul {
    list-style-type: none;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
  }
  
  .footer-column ul li a {
    color: #555;
    text-decoration: none;
  }
  
  .footer-column ul li a:hover {
    color: #000;
  }
  
  /* Social media icons */
  .social-icons a {
    display: inline-block;
    margin-right: 15px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
  }
  
  /* Footer bottom section */
  .footer-bottom {
    border-top: 1px solid #e0e0e0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
  }
  
  .footer-bottom p {
    color: #777;
    font-size: 14px;
  }
  
  .footer-bottom ul {
    list-style-type: none;
    display: flex;
  }
  
  .footer-bottom ul li {
    margin-left: 20px;
  }
  
  .footer-bottom ul li a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-bottom ul li a:hover {
    color: #000;
  }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        
    }

    .filters {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px;
    }

    .product-section {
        width: 100%;
    }

    .sort {
        text-align: left;
    }
    
    nav ul {
        position: absolute;
        top: 70px;
        left: -100%;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        text-align: center;
        transition: left 0.3s ease;
    }

    nav ul.open {
        left: 0;
    }

    .hamburger {
        display: flex;
    }

    .cart-icon {
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .logo{
        display: flex;
        justify-content: center;
    }

    .banner {
        display: block;
        height: auto; 
    }

    .image-container {
        position: relative;
        width: 100%; 
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5); 
        color: white;
        text-align: center;
        padding: 20px;
        width: 80%; 
        max-width: none; 
    }

    .content h1 {
        font-size: 2em;
    }

    .content p {
        font-size: 1em;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
      }
    
      .footer-column {
        margin: 20px 0;
      }
    
      .footer-bottom {
        flex-direction: column;
        text-align: center;
      }
    
      .footer-bottom ul {
        margin-top: 10px;
      }
      .breadcrumbs{
        margin-bottom: 10px;
        padding: 10px;
      }
      .search-result .search input {
        width: 100%;
        padding: 5px;
    }
    .search-result .search {
        width: 100%;
    }
    .search-result {
        width: 100%;
        padding: 10px;
        
    }
    .product-sort {
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .banner h2 {
        font-size: 28px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .product-card h4 {
        font-size: 16px;
    }

    .product-card p {
        font-size: 14px;
    }
}